<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="All Pages.ModuleTests Suite">
    <test verbose="2" preserve-order="true" name="H:/Programming/ProteiTest">
        <classes>
            <class name="Pages.ModuleTests"></class>
        </classes>
    </test>
</suite>